:root {
  --dark:#000503;
  --gold:#ad9551;
  --dark-green: #0B3826; 
  --green:#2B6B51;
  --light-green:#5F9E85;
  --green-grey:#A7D1C0;
  --light-grey:#E9EFEC;}
  /*
  --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-duration: 250ms;
  --transition: var(--tr-function) var(--tr-duration);*/

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

html {
  box-sizing: border-box;
  margin: auto;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  font-size: 16px;
}
a {text-decoration: none;}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  background-color: var(--light-grey);
}
.navi{
  display: flex;
  padding: 24px 0;
  gap: 40px;
  font-weight: 500;
  line-height: 1.5;
}
.navi a{
  color: var(--gold)
}
.navi a:hover,
.navi a:focus{
  color: var(--light-grey);
}
/* SCECTION MAIN */
h1{
  text-align: center;
  font-family: cinzel;
  font-size: 50px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: var(--gold);
}
.craft{color: var(--dark-green);
text-align: center;
font-size: 30px;}
.main { 
  /* background-image: 
url(../images/Rectangle\ 67.png); */
 padding-top: -50px;
    padding-bottom: -96px;
  background-color: var(--light-grey);
}

.main-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
}
.my-photo{    
  /* background-image: 
url(../images/Rectangle\ 67.png); */
display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding-top: -98px;
}
.name {padding-top: 180px;
  justify-content: center;
  align-content: center;
}
.name li{
  padding: 10px;
}
.sm {
  display: flex;
  justify-content: center;
  gap: 26px;
  
}
.sm-icons {
  
  background-color: var(--gold);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.sm-icons-item {
  fill: var(--light-grey);
    margin: 8px;
  width: 24px;
  height: 24px;
}
.background-icons {
  width: 1802.297px;
  height: 1373.99px;
  /* transform: rotate(9.667deg); */
  fill: var(--dark);
  /* margin: 8px; */
  /* width: 24px;
  height: 24px; */
}
.sm-icons:focus,
.sm-icons:hover {
  background-color: var(--dark-green);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}
.sm-icons:hover {
  cursor: pointer;
}
/* SCECTION ABOUT */
.about{
  background-color: var(--dark);
  color: var(--light-grey);
}
h2{
  padding-top: 98px;
  font-family: cinzel;
  font-size: 40px;
  margin-bottom: 60px;
}
.about-text{
  text-align: center;
  color: var(--gold);
}
p{font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.32px;}
  .skils{text-align: center;
    padding-top: 60px;
    color: var(--gold);
    font-family: cinzel;
  font-size: 30px;
  margin-bottom: 60px;
  }
  .skils-item{color: var(--gold);
    font-family: cinzel;
    font-size: 24px;
  }
  .skils-item p{font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.32px;
    color: var(--light-grey);
  }
  .skils-use li{
    display:inline-flex;
    justify-content: center;
  }



  /* FOOTER */
  .footer
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-color: var(--light-grey);
  color: var(--gold); 
  text-align: center;}
.last{padding: 8px;
  text-align: center;
  background-color: var(--dark);
color: var(--gold);
font-size: 13px;}
  
  