:root {
  --dark:#000503;
  --gold:#ad9551;
  --dark-green: #0B3826; 
  --green:#2B6B51;
  --light-green:#5F9E85;
  --green-grey:#A7D1C0;
  --light-grey:#E9EFEC;
  --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-duration: 250ms;
  --transition: var(--tr-function) var(--tr-duration);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

html {
  box-sizing: border-box;
  margin: auto;
}
section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  background-color: var(--white, #ffffff);
  font-size: 16px;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  background-color: transparent;
}
.navi{
  display: flex;
  padding: 24px 0;
  gap: 40px;
  font-weight: 500;
  line-height: 1.5;
}
.navi a{
  text-decoration: none;
  color: var(--gold)
}
.navi a:hover,
.navi a:focus{
  color: var(--light-green);
}
/* SCECTION MAIN */
h1{
  text-align: center;
  font-family: cinzel;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: var(--gold);
}
h3{color: var(--dark-green);
text-align: center;}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
  padding-bottom: 72px;
  background-color: var(--light-grey);
}
.name li{
  justify-content: center;
  align-content: center;
}
